/* File: style.css for styling index.html  */

* {
    box-sizing: border-box;
    font-family: "Figtree",sans-serif;
    font-size: 16px;
}

:root {
    --yellow:  hsl(47, 88%, 63%);
    --white: whitesmoke;
    --gray-500: hsl(0, 0%,42%);
    --gray-950: hsl(0, 0%, 7%);

    --p-font-s: 16px;
}

.background {
    background-image: url(./assets/images/faviconBackground.jpeg);
    background-size: 100vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-inline: auto;
    width: 75vw;
    height: 75vh;
    background: var(--yellow);
    box-shadow: 0 10px 20px var(--gray-500);
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 200px;
    background: var(--white);
    color: var(--gray-950);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 0 2px var(--gray-500),10px 10px var(--gray-950);
}

.img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.box {
    margin: 20px 0;
    width: min-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  hsl(47, 88%, 63%);
    border-radius: 5px;
    font-weight: bold;
}

.box:hover {
    background: var(--gray-950);
    color: var(--white);
    box-shadow: 3px 3px 5px var(--yellow);
}

.date {
    margin:-10px 0;
}

.content {
    font-size: minmax(10px, 16px);
    color:var(--gray-500)
}

a {
    text-decoration: none;
    color: var(--gray-950):
}

.by {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
 }

.attribution a {
    color: hsl(228, 45%, 44%);
}
